<form #imgForm="ngForm">

  <div class="row">

    <div class="col-6 text-center">

      <canvas id="canvas" #canvas crossorigin="anonymous" [width]="width" [height]="height"></canvas>

     

      <div class="row m-auto">
        <select class="m-1" id="selColor" [(ngModel)]="pointerColor" name="pointerColor"
          (change)="changePointerColor();">
          <option value="#000000">Preto</option>
          <option value="#fff">Branco</option>
          <option value="#1B1BBB" selected>Azul</option>
          <option value="#00CC00">Verde</option>
          <option value="#F0FC00">Amarelo</option>
        </select>
        <input class="m-1" type="button" (click)="save()" value="Salvar">
        <input class="m-1" type="button" (click)="limpar()" value="Limpar">
        <input class="m-1" type="button" (click)="cUndo()" value="Desfazer" [disabled]="!(cPushArray.length > 0)">
        <input type='file' (change)="onSelectFile($event)" accept="image/x-png,image/gif,image/jpeg">
      </div>

    </div>

  </div>
</form>


<img [src]="imageToShow" alt="" id="minhaimg">

<!-- <img src="SafeValue must use [property]=binding: blob:http://localhost:4200/5e71d342-453b-49cf-bb47-b2fa91f7bfea (see http://g.co/ng/security#xss)"> -->

